{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2>Request for Permission on your Facebook Account</h2>

<p>
<a href="{{ oidrequest.trust_root }}">{{ oidrequest.trust_root }}</a>
has asked for your identity. Do you want to respond with your nickname
<span class="nickname">{{ user.nickname }}</span>?
</p>
<form method="post" action="/login">
<input type="submit" name="yes" value="Yes" />
<input type="submit" name="no" value="No" />
<!-- these are used to recreate the OpenID CheckIDRequest -->

{%for k in postargs.items%}
<input type="hidden" name="{{k.0}}" value="{{k.1}}" />
{%endfor%}

<input type="checkbox" name="remember" value="yes" />
  Remember for two weeks <br />
</form>

<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
